body {
    background-color: #00ffff;
    margin: 0;
    font-family: 'Lora', serif;
    font-size: 14px;
  }
  
  .contenedor {
    text-align: center;
  }
  
  header {
    padding: 20px;
  }
  header img {
    border-radius: 100%;
    width: 250px;
    border: 2px solid #333;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.35);
  }
  
  * {
    box-sizing: border-box;
  }
  
  header h1 {
    color: #333;
    margin: 10px 0 0;
  }
  
  nav a:link, nav a:visited {
    text-decoration: none;
    display: inline-block;
    margin: 0 5px;
  }
  
  
  nav a:link img {
    max-width: 30px;
  }
  
  .descripcion {
    padding: 0 25px;
    max-width: 360px;
    margin: 0 auto;
  }
  
  ul {
    padding: 0;
    list-style: none;
  
    max-width: 360px;
    margin: 0 auto;
  }
  
  ul li a:link, ul li a:visited {
    background-color: rgb(255, 255, 255);
    font-size: 18px;
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    border: 1px solid #555;
    box-shadow: -2px 2px 1px rgba(0, 0, 0, 0.35);
    color: #555;
  }
  
  ul li a:hover, ul li a:active {
    background-color: antiquewhite;
    box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.5);
  }
  
  hr {
    background-color: #aaa;
    border: 0;
    height: 1px;
    max-width: 90%;
    margin: 20px auto;
  }